* {
    font-family:Georgia, Times, 'Times New Roman', serif
}

body {
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.completed-recipe {
    width: 250px;
    height: auto;
}

.recipe-body {
    display: flex;
    flex-wrap: nowrap;
}

.body-left,
.body-right {
    width: fit-content;
}

.body-right {
    margin-left: 10px;
}

.body-left {
    margin-right: 10px;  
}

.recipe-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px 10px;
}

.recipe-list-item {
    max-width: 200px;

    img {
        width: 100%;
        height: auto;
    }
}

.nav-bar {
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;
    background-color: #3d3d3d;
    ul {
        list-style-type: none;
    }

    #home {
        margin-right: auto;
        font-size: larger;
    }
}

.content-body {
    margin: 10px 10px 0;
}

